:root {
    --theme-colour: #50f;
    --theme-background-colour: linear-gradient(to right top, #5500ff, #ff00a6, #ff3658, #ffad34, #f9f872);;
    --theme-text-colour: #eee;
    --theme-text-colour-secondary: #90f;
}

/* normal css */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: var(--theme-background-colour);
    background-size: 500% 500%;
    color: var(--theme-text-colour);
    animation: move 15s ease infinite;
    margin: 0;
}

@keyframes move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper {
    width: 40%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--theme-colour);
    font-weight: bold;
}

a {
    color: var(--theme-colour);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.25s linear 0.1s;
}

a:hover {
    text-decoration-color: var(--theme-colour);
}

.centre {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* scrollbar */

/* chrome */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--theme-colour);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--theme-background-colour);
}

/* navbar css */
nav {
    position: sticky;
    background-color: transparent;
}

nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav>ul>li {
    margin: 1.5em 2.5em;
}

nav>ul>li.home {
    margin-left: auto;
}

nav>ul>li.title {
    color: var(--theme-colour);
}

nav>ul>li>a {
    color: var(--theme-text-colour);
    text-decoration: none;
    font-weight: normal;
}

/* blog css */

li.post>* {
    margin-bottom: 0.75em;
}

.back {
    margin: 3em 0;
}